.form-holder {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
.stack-holder {
	display: inline-block;
	width: 55%;
	padding-left: 16px;
}
.stack-title {
	margin-top: 0;
	font-size: 1rem;
}
.form-input input {
	width: 100%;
	margin-top: 8px;
}
.form-actions {
	text-align: right;
}
.stack {
	list-style: none;
	padding: 0;
	margin: 0;
}